<pre>                                        DOCUMENTATION
</pre> <br>
<pre>Python Version 3
</pre> <br>
<pre>
</pre> <br>
<pre>Main Function To Be Executed For User-Bot Interaction:  `parseInputForBot()`
</pre> <br>
<pre>
</pre> <br>
<pre>How To Run Script On Terminal:
</pre> <br>
<pre>1. Change Directory to Current Directory Where all script file and input files are kept.
</pre> <br>
<pre>2. Just Run: `python parseJsonBot.py`
</pre> <br>
<pre>3. It Will Ask You To enter value either 1 or 2:
</pre> <br>
<pre>    --- 1 for checking user-bot interaction in respective of
</pre> <br>
<pre>        `assignment_1_input_1.json` file.
</pre> <br>
<pre>    --- 2 is in respective for `assignment_1_input_2.json`
</pre> <br>
<pre>
</pre> <br>
<pre>4. Output of this interaction will be stored in json files.
</pre> <br>
<pre>    --- For First Input File: Output file = `assignment_1_response_1_aman.json`
</pre> <br>
<pre>    --- For Second Input File: Output file = `assignment_1_response_2_aman.json`
</pre> <br>
<pre>
</pre> <br>
<pre>Note:
</pre> <br>
<pre>---All Variables Value are stored in dictionary named `inputVariables`
</pre> <br>
<pre>---Since I have used Python 3 so few changes were required in second input JSON file
</pre> <br>
<pre>because Python 3 does not support them.
</pre> <br>
<pre>Changes:
</pre> <br>
<pre>1. `range` in place of `xrange`
</pre> <br>
<pre>2. In object
</pre> <br>
<pre>{
</pre> <br>
<pre>            "calculated_variable":"True",
</pre> <br>
<pre>            "formula":"[map(int, i.split()) for i in row]",
</pre> <br>
<pre>            "var":"matrix"
</pre> <br>
<pre>},
</pre> <br>
<pre>
</pre> <br>
<pre>row is used but it should be rows because input is stored in rows variable.
</pre> <br>
<pre>
</pre> <br>
<pre>One Part is Incompleted:
</pre> <br>
<pre>  --I could not complete the `list_length` implementation because I tried to parse
</pre> <br>
<pre>  respective data but not able to Evaluated.
</pre> <br>
<pre>  --eval() was throwing error. I could not troubleshoot it.
</pre> <br>
<pre>
</pre> <br>
<pre>
</pre> <br>
<pre>Submitted By:
</pre> <br>
<pre>Aman Kaushal
</pre> <br>
<pre>Contact: 8989673137
</pre> <br>
<pre>Email: kaushalaman02@gmail.com
</pre> <br>
<pre>https://www.linkedin.com/in/amankaushaliiitm/
</pre> <br>
